/* Colors from Solarized (http://ethanschoonover.com/solarized) */
.CodeMirror {
  height           : 100%;
  background-color : #073642;
  font-weight      : bold;
}

.cm-s-solarized .CodeMirror-gutters {
  background-color : #002b36;
  border           : none;
}

.CodeMirror-simplescroll-vertical {
  background-color : #002b36;
  width            : 14px;
}

.CodeMirror-simplescroll-vertical div {
  border           : none;
  border-left      : 4px solid #002b36;
  background-color : #586e75;
}

html, body {
  padding          : 0px;
  margin           : 0px;
  height           : 100%;
}

h1 {
  text-align       : center;
}

p {
  text-align       : justify;
}

a {
  color            : #268bd2;
  text-decoration  : none;
}

a:hover {
  color            : #dc322f;
}

a.submlfile {
  color            : #b58900;
}

a.submlfile:hover {
  color            : #dc322f;
}

#text {
  padding-left     : 20px;
  padding-right    : 20px;
}

#west {
  width            : 680px;
  height           : 100%;
  float            : left;
  overflow         : hidden;
  border-right     : 4px solid #002b36;
}

#edit {
  width            : 100%;
  height           : 70%;
  border-bottom    : 4px solid #002b36;
}

#panel {
  width            : 100%;
  height           : 3ex;
  background-color : #002b36;
  font-weight      : bold;
  margin           : 0px;
  padding          : 0px;
}

#panel a {
  color            : #93a1a1;
  margin-left      : 30px;
}

#panel a:hover {
  color            : #dc322f;
}

#pos {
  margin           : 0px;
  padding          : 0px;
  margin-left      : 6px;
  font-weight      : bold;
  float            : left;
  width            : 80px;
  color            : #49626a;
}

#term {
  width            : 100%;
  height           : calc(30% - 3ex);
}

#east {
  overflow         : auto;
  height           : 100%;
  background-color : #fdf6e3;
  color            : #657b83;
  font-weight      : bold;
}

.ui-resizable-e {
  cursor           : ew-resize;
}

.ui-resizable-s {
  cursor           : ns-resize;
}

.error {
  color            : #d33682;
}
